@model MelvorIdleCalculationC.Models.MonsterStatsList     
<div class="list_tr" style="margin: 10px 40px;">
    <div style="width: 20px"><a href="/Home/Edit/@(Model.ID)"><img src="~/Resources/settings_header.svg" title="Edit @(Model.SelectedMonster)"/></a></div>
    <div style="width: 300px">@Model.SelectedDungeon</div>    
    <div style="width: 350px">@Model.SelectedMonster</div>
    <div style="width: 100px">@Model.MaxHit</div>
    <div style="width: 200px">@Model.HitType</div>
</div>
        
       
           